.container {
  max-width: 1200px;
  max-height: 100vh;
}

.row {
  display: flex;
}

.column-one-tenth {
  width: 10%;
}

.column-half {
  width: 50%;
}

.column-full {
  width: 100%;
}

.border {
  border-bottom: 1px solid grey;
}
